*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.bigContainer{
  margin: 0;
  padding: 0;
  min-height: 200vh;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.home1{
  height: 200vh;
  width: 100vw;
  background: #faf5e4;
  display: flex;
  font-family: 'Pattaya', sans-serif;
  color: #ebebeb;
  background-image: linear-gradient(230deg,#000000, #060125, #000435,#121230,#131630, #060e1d, #00012b);
  background-size: 500%;
  animation: parfait1 50s infinite;
  opacity: 1;
  position: absolute;
  z-index: 1;
  }
  @keyframes parfait1{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
.author{
  text-align:left;
  margin-left: 10vw;
  margin-top: 22vh;
  font-size: 2.5em;
  font-weight: 600;
  position: absolute;
  z-index: 7;
}
.btfly_big{
  background: url("images/bt_grande.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 55vh ;
  width:28vw ;
  position: absolute;
  z-index: 8;
  margin-left: 16vw;
  margin-top: 30vh;
  transform: rotate(-9deg);
  opacity: 0.5;
  filter: blur(80px);
}
.btfly_big:hover{
  background: url("images/bt_grande.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;;
  height: 58vh ;
  width:30vw ;
  margin-left: 22vw;
  margin-top: 22vh;
  position: absolute;
  z-index: 8;
}
.circle{
    width: 12.8vw;
    height: 28vh;
    background: #faf5e4;
    border-radius: 1000px;
    z-index: 8;
    padding: 0;
    position: absolute;
    right: 20vw;
    margin-top: 21vh;
    box-shadow: 2px 2px 5px #999;
    background-image:url("images/logosfimg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
.circle:hover{
  background-image: url("images/logo-hover.gif");
  background-repeat: no-repeat;
  background-size: 159% 180%;
  background-position: center;
  z-index: 12;
}
.down{
  z-index: 13;
  background-image: url("images/flecha_az.png");
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: bottom;
  height: 6vh;
  position: absolute;
  width: 3vw;
  margin: 92vh 0 0 48vw;
}
.down:hover{
  z-index: 31;
  background-image:url("images/flecha_az.png");
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-position:center,center;
  height: 14vh;
  width: 9.5vw;
  margin: 90vh 0 0 44.8vw;
  background-size: 20% 26%;
  position: absolute;
  transform: rotate(0deg);
  opacity: 0.7;
}
.circle_kero{
  width: 23.5vw;
  height: 50vh;
  border-radius: 1000px;
  z-index: 7;
  padding: 0;
  position: absolute;
  right: 5vw;
  top: 38vh;
  background-image: url("images/kero_img.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(100%);
  box-shadow: 0 0 15px #448ee4;
}

.home2{
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  color: #FFFFFF;
  font-family: 'Pattaya', sans-serif;
}
.imgNata{
  z-index: 27;
  border-radius: 1000px;
  height: 36vh;
  margin-top: 24.5vh;
  position: absolute;
  right: 32.5vw;
}
.bt_home_2{
  z-index: 26;
  position: absolute;
  height: 75vh ;
  margin-left:42vw;
  margin-top: 9vh;
}
.author_dos{
  text-align:left;
  margin-left: 7vw;
  margin-top: 32vh;
  font-size: 2.5em;
  font-weight: 600;
  position: absolute;
  z-index: 27;
}
.description{
  z-index: 28;
  text-align:left;
  width: 33vw;
  height: 20vh;
  position: absolute;
  margin-top: 43vh;
  margin-left: 7vw;
  font-size: 1.1em;
  text-align:justify;
	text-justify:inter-word;
  font-family: 'lora';
  font-weight:550;
}
.list_home2{
  z-index: 31;
  position: absolute;
  right: 9vw;
  margin-top: 55vh;
}
.list_home2:hover{
  z-index: 31;
  position: absolute;
  right: 7.5vw;
  margin-top: 55vh;
  color:#448ee4;
}
#curriculum{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}
#curriculum:hover{
  color:#448ee4ce;
}
.list_proyect{
  z-index: 31;
  position: absolute;
  right: 13.75vw;
  margin-top: 61vh;
}
.list_proyect:hover{
  z-index: 31;
  position: absolute;
  right: 12vw;
  margin-top: 61vh;
  color:#448ee4;
}
#proyect{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
}
#proyect:hover{
  color:#448ee4ce;
}
.down_home2{
  z-index: 50;
  background-image: url("images/flecha_bl_up.png");
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: bottom;
  height: 6vh;
  position: absolute;
  width: 3vw;
  margin: 80vh 0 0 48vw;
}
.content_all{
  height: 460vh;
  width: 100vw; 
  position: absolute;
  font-family: 'Pattaya', sans-serif;
}
.work_area{
  height: 460vh;
  width: 100vw;
  background-image: linear-gradient(230deg, #0021b3,#006bd0, #326cc4,#aab0ff,#396fc0, #0293e1, #0022b9);
  background-size: 500%;
  animation: parfait 50s infinite;
  opacity: 0.6;
  position: absolute;
}
@keyframes parfait{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.fn_header{
  margin-top: 1vh;
  width: 100vw;
  height: 10vh;
  background: #faf5e479;
  position: fixed;
  box-shadow: 0 0 10px rgba(105, 105, 105, 0.6);
  z-index: 35;
}
.bt_decoration{
  z-index: 30;
  height: 20vh;
  margin-top: 15vh;
  right: 25vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
#dec2{
  z-index: 30;
  height: 35vh;
  margin-top: 45vh;
  right: 45vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
#dec3{
  z-index: 30;
  height: 10vh;
  margin-top: 165vh;
  left: 65vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.7;
}
#dec4{
  z-index: 30;
  height: 10vh;
  margin-top: 95vh;
  right: 15vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
#dec5{
  z-index: 30;
  height: 25vh;
  margin-top: 335vh;
  left: 15vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
#dec6{
  z-index: 30;
  height: 30vh;
  margin-top: 153vh;
  right: 7vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.5;
}
#dec7{
  z-index: 30;
  height: 20vh;
  margin-top: 405vh;
  right: 25vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.7;
}
#dec8{
  z-index: 30;
  height: 15vh;
  margin-top: 435vh;
  right: 47vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
#dec9{
  z-index: 30;
  height: 15vh;
  margin-top: 358vh;
  left: 25vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.6;
}
#dec10{
  z-index: 30;
  height: 25vh;
  margin-top: 350vh;
  right: 3vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
#dec11{
  z-index: 30;
  height: 25vh;
  margin-top: 230vh;
  left: 1vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.65;
}
#dec12{
  z-index: 30;
  height: 18vh;
  margin-top: 320vh;
  left: 2vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
#dec13{
  z-index: 30;
  height: 20vh;
  margin-top: 235vh;
  right: 10vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
#dec14{
  z-index: 30;
  height: 13vh;
  margin-top: 430vh;
  right: 8vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.6;
}
.all_proyects{
  z-index: 35;
  font-size: 3em;
  text-align: left;
  margin-top: 25vh;
  margin-left: 13vw;
  position: absolute;
  width: 20vw;
  color: #050047;
  text-shadow: -2px 2px 3px rgba(0,0,0,0.4);
}
.fondo_work{
  z-index: 30;
  width: 45vw;
  height: 33vh;
  margin-top: 15vh;
  margin-left: -10vw;
  position: absolute;
  background-size: 50% 50%;
  border-radius: 1000px;
  opacity: 0.55;
  transform: rotate(-360deg);
  filter: blur(1px);
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
}
#dec15{
  z-index: 35;
  opacity: 0.85;
  background-size: 100% 100%;
  height: 20vh;
  position: absolute;
  margin-left: 28vw;
  margin-top: 13vh;
  transform: rotate(-5deg);
}
.circle_work{
  width: 5.3vw;
  height: 11.5vh;
  background: #faf5e4;
  border-radius: 1000px;
  z-index: 35;
  padding: 0;
  position: fixed;
  left: 2vw;
  margin-top: 0.5vh;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
  background-image:url("images/logosfimg.png");
  background-repeat: no-repeat;
  background-size: 110% 100%;
  opacity: 0.95;
}
#title_work{
  position: absolute;
  color: #eeeeee;
  font-size: 2.1em;
  margin-top: 50vh;
  margin-left: 23.5vw;
  padding-left: 2vw;
  text-shadow: -2px 2px 3px rgba(0,0,0,0.4);
  background-color: #00074b;
  width: 100vw;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 50;
}
#bienvenida{
  width: 100vw;
  margin-top: 55vh;
  position: absolute;
  color: #eeeeee;
  font-size: 1.1em;
  margin-left: 0;
  margin-right: 10vw;
  text-align:justify;
	text-justify:inter-word;
  font-family: 'lora';
  font-weight: 530;
  /* background-color:#001f2e27; */
  padding: 5vh 15vw 4.2vh 15vw;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  backdrop-filter: blur(4px);
  background-color: #00074baf;
 
}
.group_pro{
  height: 373vh ;
  width: 100vw ;
  margin-top: 88vh;
  margin-left: 0;
  z-index: 33;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: 'Pattaya', sans-serif;
  color: #faf5e4;
}
.box1{
  background-color: #dddddd;
  width: 78vw;
  height: 55vh;
  margin-left: 0;
  margin-bottom: 5vh;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}
#proyect_talent{
  background: #faf5e4;
  width: 30vw;
  height: 40vh;
  margin: 8vh 0 0 4vw;
  border-radius: 25px;
  z-index: 40;
  position: absolute;
  background-image: url("images/hexacta.png");
  background-size: 100% 101%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}
#img_proyect_talent{
  width:30vw;
  height:40vh;
  overflow: hidden;
  position: absolute;
  background:rgba(0, 12, 34, 0.404);
  -webkit-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  opacity: 0;
  border-radius: 25px;
}
#title_talent{
  position: absolute;
  font-size: 1.8em;
  margin-left: -10vw;
  margin-top: 20vh;
}
#title_talent2{
  background-image: url("images/ir2.png");
  background-size: 10% 15%;
  background-repeat: no-repeat;
  background-position: top CENTER;
  margin-top: -5vh;
  margin-left: -2vw;
  height:44vh;
  width: 34vw;
  position: absolute;
}
#proyect_talent:hover{
  margin: 7vh 0 0 4vw;
}
#proyect_talent:hover #img_proyect_talent{
  opacity: 1;
}
#proyect_talent:hover #title_talent{
  margin-left: 7vw;
  -webkit-transition:margin 0.2s;
  -moz-transition:margin 0.2s;
}
#proyect_talent:hover #title_talent2{
  margin-top: 10vh;
  -webkit-transition:margin 0.3s;
  -moz-transition:margin 0.3s;
}
.description_talent{
  height: 30vh;
  width: 35vw;
  margin: 19vh 0 0 39vw;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.valid1{
  font-size: 1.5em;
  /* border-bottom: 1px solid #050047;; */
  width: 15vw;
  color: #050047;
  margin-bottom: 1vh;
}
.content1{
  font-family: 'lora';
  padding: 2vh 0 -0.5vh 1vw;
  font-size: 1.1em;
  list-style-type: circle;
  color: #050047;
  font-weight: 500;
}
.box2{
  background-color: #dddddd;
  width: 78vw;
  height: 55vh;
  margin-left: 21vw;
  margin-bottom: 5vh;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
  
}
#proyect_nasa{
  background: #faf5e4;
  width: 30vw;
  height: 40vh;
  margin: 8vh 0 0 4vw;
  border-radius: 30px;
  z-index: 40;
  position: absolute;
  background-image: url("images/space.png");
  background-size: 106% 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}
#img_proyect_nasa{
  width:30vw;
  height:40vh;
  overflow: hidden;
  position: absolute;
  background:rgba(0, 12, 34, 0.404);
  -webkit-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  opacity: 0;
  border-radius: 30px;
}
#title_nasa{
  position: absolute;
  font-size: 1.8em;
  margin-left: -10vw;
  margin-top: 20vh;
}
#title_nasa2{
  background-image: url("images/ir2.png");
  background-size: 10% 15%;
  background-repeat: no-repeat;
  background-position: top CENTER;
  margin-top: -5vh;
  margin-left: -2vw;
  height:44vh;
  width: 34vw;
  position: absolute;
}
#proyect_nasa:hover{
  margin: 7vh 0 0 4vw;
}
#proyect_nasa:hover #img_proyect_nasa{
  opacity: 1;
}
#proyect_nasa:hover #title_nasa{
  margin-left: 7vw;
  -webkit-transition:margin 0.2s;
  -moz-transition:margin 0.2s;
}
#proyect_nasa:hover #title_nasa2{
  margin-top: 10vh;
  -webkit-transition:margin 0.3s;
  -moz-transition:margin 0.3s;
}
.description_nasa{
  height: 30vh;
  width: 35vw;
  margin: 15vh 0 0 39vw;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.valid2{
  font-size: 1.5em;
  /* border-bottom: 1px solid #050047;; */
  width: 16vw;
  color: #050047;
  margin-bottom: 1vh;
 
}
.content_nasa{
  font-family: 'lora';
  font-size: 1.1em;
  list-style-type: circle;
  color: #050047;
  font-weight: 500;
  padding: 2vh 0 -0.5vh 1vw;
}

.box3{
  background-color: #dbdbdb;
  width: 78vw;
  height: 55vh;
  margin-left: 0;
  margin-bottom: 5vh;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}
#proyect1{
  background: #faf5e4;
  width: 30vw;
  height: 40vh;
  margin: 8vh 0 0 4vw;
  border-radius: 30px;
  z-index: 40;
  position: absolute;
  background-image: url("images/data_lovers.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}
#img_proyect1{
  width:30vw;
  height:40vh;
  overflow: hidden;
  position: absolute;
  background:rgba(0, 12, 34, 0.404);
  -webkit-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  opacity: 0;
  border-radius: 30px;
}
#title_1{
  position: absolute;
  font-size: 1.8em;
  margin-left: -10vw;
  margin-top: 20vh;
}
#title_2{
  background-image: url("images/ir2.png");
  background-size: 10% 15%;
  background-repeat: no-repeat;
  background-position: top CENTER;
  margin-top: -5vh;
  margin-left: -2vw;
  height:44vh;
  width: 34vw;
  position: absolute;
}
#proyect1:hover{
  margin: 7vh 0 0 4vw;
}
#proyect1:hover #img_proyect1{
  opacity: 1;
}
#proyect1:hover #title_1{
  margin-left: 11vw;
  -webkit-transition:margin 0.2s;
  -moz-transition:margin 0.2s;
}
#proyect1:hover #title_2{
  margin-top: 10vh;
  -webkit-transition:margin 0.3s;
  -moz-transition:margin 0.3s;
}  
.description_lovers{
  height: 30vh;
  width: 35vw;
  margin: 20vh 0 0 39vw;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.valid_love{
  font-size: 1.5em;
  /* border-bottom: 1px solid #050047;; */
  width: 15vw;
  color: #050047;
  margin-bottom: 1vh;
}
.content_love{
  font-family: 'lora';
  padding: 2vh 0 -0.5vh 1vw;
  font-size: 1.1em;
  list-style-type: circle;
  color: #050047;
  font-weight: 500;
}

.box4{
  background-color: #dbdbdb;
  width: 78vw;
  height: 55vh;
  margin-left: 21vw;
  margin-bottom: 5vh;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}
#proyect2{
  background: #faf5e4;
  width: 30vw;
  height: 40vh;
  margin: 8vh 0 0 4vw;
  z-index: 40;
  position: absolute;
  border-radius: 30px;
  background-image: url("images/social_network.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}
#img_proyect2{
  width:30vw;
  height:40vh;
  overflow: hidden;
  position: absolute;
  background:rgba(0, 12, 34, 0.404);
  -webkit-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  opacity: 0;
  border-radius: 30px;
}
#title_pr{
  position: absolute;
  font-size: 1.8em;
  margin-left: -10vw;
  margin-top: 20vh;
}
#title_pr2{
  background-image: url("images/ir2.png");
  background-size: 10% 15%;
  background-repeat: no-repeat;
  background-position: top CENTER;
  margin-top: -5vh;
  margin-left: -2vw;
  height:44vh;
  width: 34vw;
  position: absolute;
}
#proyect2:hover{
  margin: 7vh 0 0 4vw;
}
#proyect2:hover #img_proyect2{
  opacity: 1;
}
#proyect2:hover #title_pr{
  margin-left: 9.5vw;
  -webkit-transition:margin 0.2s;
  -moz-transition:margin 0.2s;
}
#proyect2:hover #title_pr2{
  margin-top: 10vh;
  -webkit-transition:margin 0.3s;
  -moz-transition:margin 0.3s;
} 
.description_social{
  height: 30vh;
  width: 35vw;
  margin: 19vh 0 0 39vw;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.valid_social{
  font-size: 1.5em;
  /* border-bottom: 1px solid #050047;; */
  width: 15vw;
  color: #050047;
  margin-bottom: 1vh;
}
.content_social{
  font-family: 'lora';
  padding: 2vh 0 -0.5vh 1vw;
  font-size: 1.1em;
  list-style-type: circle;
  color: #050047;
  font-weight: 500;
}

.box5{
  background-color: #dbdbdb;
  width: 78vw;
  height: 55vh;
  margin-left: 0;
  margin-bottom: 8vh;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}
#proyect3{
  background: #faf5e4;
  width: 30vw;
  height: 40vh;
  margin: 8vh 0 0 4vw;
  border-radius: 30px;
  z-index: 40;
  position: absolute;
  background-image: url("images/card_validation.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}
#img_proyect3{
  width:30vw;
  height:40vh;
  overflow: hidden;
  position: absolute;
  background:rgba(0, 12, 34, 0.404);
  -webkit-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  opacity: 0;
  border-radius: 30px;
}
#title_pr3{
  position: absolute;
  font-size: 1.8em;
  margin-left: -10vw;
  margin-top: 20vh;
}
#title_pr31{
  background-image: url("images/ir2.png");
  background-size: 10% 15%;
  background-repeat: no-repeat;
  background-position: top CENTER;
  margin-top: -5vh;
  margin-left: -2vw;
  height:44vh;
  width: 34vw;
  position: absolute;
}
#proyect3:hover{
  margin: 7vh 0 0 4vw;
}
#proyect3:hover #img_proyect3{
  opacity: 1;
}
#proyect3:hover #title_pr3{
  margin-left: 8.5vw;
  -webkit-transition:margin 0.2s;
  -moz-transition:margin 0.2s;
}

#proyect3:hover #title_pr31{
  margin-top: 10vh;
  -webkit-transition:margin 0.3s;
  -moz-transition:margin 0.3s;
} 
.description_card{
  height: 30vh;
  width: 35vw;
  margin: 19vh 0 0 39vw;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.valid_card{
  font-size: 1.5em;
  /* border-bottom: 1px solid #050047;; */
  width: 15vw;
  color: #050047;
  margin-bottom: 1vh;
}
.content_card{
  font-family: 'lora';
  padding: 2vh 0 -0.5vh 1vw;
  font-size: 1.1em;
  list-style-type: circle;
  color: #050047;
  font-weight: 500;
}

.box7{
  background-color: #dbdbdb;
  width: 78vw;
  height: 60vh;
  margin-left: 10vw;
  margin-bottom: 8vh;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}
#proyect4{
  background: #faf5e4;
  width: 25vw;
  height: 38vh;
  margin: 8vh 0 0 4vw;
  border-radius: 800px;
  z-index: 40;
  position: absolute;
  background-image: url("images/smartwacht.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}
#img_proyect4{
  width:30vw;
  height:40vh;
  overflow: hidden;
  position: absolute;
  background:rgba(0, 12, 34, 0.404);
  -webkit-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  opacity: 0;
  border-radius: 30px;
}

#proyectK{
  background: #faf5e4;
  width: 30vw;
  height: 40vh;
  margin: 8vh 0 0 40vw;
  border-radius: 1000px;
  z-index: 40;
  background-image: url("images/ker.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}
#img_kero{
  width:30vw;
  height:40vh;
  overflow: hidden;
  position: absolute;
  background:rgba(0, 12, 34, 0.404);
  -webkit-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  opacity: 0;
  border-radius: 30px;
}

.box6{
  background-color: #00074b;
  width: 100vw;
  height: 70vh;
  flex-wrap: nowrap;
  display: flex;
  margin-bottom:0;
  align-items: center;
} 
.title_box6{
  position: absolute;
  margin: -57vh 0 0 2vw ;
  font-size: 1.6em;

}
#proyect5{
  background:#ea526ef1;
  width: 27vw;
  height: 35vh;
  margin: 25vh 2vw 0 4.5vw;
  border-radius: 30px;
  z-index: 40;
  background-image: url("images/s6.png"),url("images/fn1.png");
  background-size: 83% 80%, 100% 100% ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}
#img_proyect5{
  width:27vw;
  height:35vh;
  overflow: hidden;
  position: absolute;
  background:rgba(0, 12, 34, 0.404);
  -webkit-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  opacity: 0;
  border-radius: 30px;
}
#title_pr5{
  position: absolute;
  font-size: 1.7em;
  margin-left: -15vw;
  margin-top: 11vh;
}
#title_pr51{
  position: absolute;
  font-size: 1em;
  margin-top: 40vh;
  margin-left: 2vw;
  width: 23vw;
  font-family: 'lora';
  text-align: center;
}
#envio5{
  background-image: url("images/ir2.png");
  background-size: 10% 15%;
  background-repeat: no-repeat;
  background-position: top left;
  background-position-x: 1.7vw;
  background-position-y: 10.5vh;
  height:40vh;
  width: 30vw;
  position: absolute;
}
#proyect5:hover #img_proyect5{
  opacity: 1;
}
#proyect5:hover #title_pr5{
  margin-left: 5.8vw;
  -webkit-transition:margin 0.2s;
  -moz-transition:margin 0.2s;
}
#proyect5:hover #title_pr51{
  margin-top: 20vh;
  -webkit-transition:margin 0.3s;
  -moz-transition:margin 0.3s;
}  
#touch_talent{
  display: none;
}

#proyect6{
  background:#00407bbd;
  width: 27vw;
  height: 35vh;
  margin: -7vh 3vw 0 2vw;
  border-radius: 30px;
  z-index: 40;
  background-image: url("images/pastry.png");
  background-size: 96% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}
#img_proyect6{
  width:27vw;
  height:35vh;
  overflow: hidden;
  position: absolute;
  background:rgba(0, 12, 34, 0.404);
  -webkit-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  opacity: 0;
  border-radius: 30px;
}
#title_pr6{
  position: absolute;
  font-size: 1.7em;
  margin-left: -15vw;
  margin-top: 11vh;
}
#title_pr61{
  position: absolute;
  font-size: 1em;
  margin-top: 40vh;
  margin-left: 1.5vw;
  width: 25vw;
  font-family: 'lora';
  text-align: center;
}
#envio6{
  background-image: url("images/ir2.png");
  background-size: 10% 15%;
  background-repeat: no-repeat;
  background-position: top left;
  background-position-x: 1.7vw;
  background-position-y: 10.5vh;
  height:40vh;
  width: 30vw;
  position: absolute;
}
#proyect6:hover #img_proyect6{
  opacity: 1;
}
#proyect6:hover #title_pr6{
  margin-left: 5.8vw;
  -webkit-transition:margin 0.2s;
  -moz-transition:margin 0.2s;
}
#proyect6:hover #title_pr61{
  margin-top: 20vh;
  -webkit-transition:margin 0.3s;
  -moz-transition:margin 0.3s;
}  
#proyect7{
  background:#15731ddc;
  width: 27vw;
  height: 35vh;
  margin: 25vh 1vw 0 1vw;
  border-radius: 30px;
  z-index: 40;
  background-image: url("images/panda.png");
  background-size: 96% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}
#img_proyect7{
  width:27vw;
  height:35vh;
  overflow: hidden;
  position: absolute;
  background:rgba(0, 12, 34, 0.404);
  -webkit-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  opacity: 0;
  border-radius: 30px;
}
#title_pr7{
  position: absolute;
  font-size: 1.7em;
  margin-left: -15vw;
  margin-top: 11vh;
}
#title_pr71{
  position: absolute;
  font-size: 1em;
  margin-top: 40vh;
  margin-left: 2.1vw;
  width: 23vw;
  font-family: 'lora';
  text-align: center;
}
#envio7{
  background-image: url("images/ir2.png");
  background-size: 10% 15%;
  background-repeat: no-repeat;
  background-position: top left;
  background-position-x: 1.7vw;
  background-position-y: 10.5vh;
  height:40vh;
  width: 30vw;
  position: absolute;
}
#proyect7:hover #img_proyect7{
  opacity: 1;
}
#proyect7:hover #title_pr7{
  margin-left: 5.8vw;
  -webkit-transition:margin 0.2s;
  -moz-transition:margin 0.2s;
}
#proyect7:hover #title_pr71{
  margin-top: 20vh;
  -webkit-transition:margin 0.3s;
  -moz-transition:margin 0.3s;
} 
@media (max-width:623px){
  .author{
    font-size: 1.6em;
    margin-top: 18vh;
  }
  .btfly_big{
    height: 40vh;
    width:45vw;
    margin-left: 20vw;
    margin-top: 52vh;
    transform: rotate(-11deg);
  }
  .btfly_big:hover{
    height: 40vh ;
    width:45vw ;
    margin-left: 22vw;
    margin-top: 32vh;
  }
  .btfly_fondo{
    right: 0;
    width: 38vw;
    height:80vh ;
  }
  .circle{
    width: 36vw;
    height: 20vh;
    right: 17vw;
    margin-top: 30vh;
    box-shadow: 2px 2px 5px #999;
    z-index: 31;
  }
  .down{
    z-index:30;
    background-image: url("images/flecha_az.png");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    height: 8vh;
    position: absolute;
    width: 15vw;
    margin: 91vh 0 0 42vw;
  }
  .down:hover{
    z-index: 31;
    background-image:url("images/flecha_az.png");
    background-repeat:no-repeat;
    background-position:center;
    height: 8vh;
    width: 15vw;
    margin: 91vh 0 0 42vw;
  }
.circle_kero{
    height: 35vh;
    width: 63vw;
    left: 15vw;
    z-index: 30;
    margin-top: 4vh;
}
  .imgNata{
    height: 23vh;
    margin-top: 16vh;
    right: 16vw;
  }
  .bt_home_2{
    height: 45vh ;
    margin-left:9vw;
    margin-top: 7vh;
  }
  .image_logN{
    height: 37vh;
    margin-top:-7vh;
    margin-left: -16vw;
  }
  .author_dos{
    text-align:left;
    right: 10vw;
    margin-top:46vh;
    font-size: 1.4em;
    font-weight: 600;
  }
  .description{
    text-align:left;
    width: 85vw;
    height: 20vh;
    position: absolute;
    margin-top: 52vh;
    margin-left: 7vw;
    font-size: 0.98em;
    text-align:justify;
    text-justify:inter-word;
    font-family: 'lora';
    font-weight:lighter;
  }
  .list_home2{
    left: 10vw;
    margin-top: 40vh;
  }
  .list_home2:hover{
    left: 13vw;
    margin-top: 40vh;
  }
  #curriculum{
    font-size:0.9em;
  }
  .list_proyect{
    left: 10vw;
    margin-top: 44vh;
  }
  .list_proyect:hover{
    left: 13vw;
    margin-top: 44vh;
  }
  #proyect{
    font-size: 0.9em;
  }
  .down_home2{
    z-index: 50;
    background-image: url("images/flecha_bl_up.png");
    height: 8vh;
    width: 15vw;
    margin: 82vh 0 0 40vw;
  }
  .down_home2:hover{
    cursor: pointer;
    background-image:url("images/flecha_bl_up.png");
    height: 8vh;
    width: 15vw;
    margin: 82vh 0 0 40vw;
  }
  .content_all{
    height: 384vh;
    width: 100vw; 
    position: absolute;
    font-family: 'Pattaya', sans-serif;
    color: #005D87;
  }
  .work_area{
    height: 385vh;
    width: 100vw;
    background-image: linear-gradient(230deg, #00b7d4,#0B8ADB, #1823bb,#8e8cff,#b8d0f3, #00A8F3, #00CEF5);
    background-size: 500%;
    animation: parfait 50s infinite;
    opacity: 0.75;
    position: absolute;
  }
  .circle_work{
    width: 14.3vw;
    height: 10vh;
    left: 1.5vw;
    margin-top: 1vh;
    background-image:url("images/logosfimg.png");
    background-repeat: no-repeat;
  }
  .all_proyects{
    z-index: 37;
    font-size: 2.3em;
    margin-top: 23vh;
    margin-left: 13vw;
    width: 60vw;
  }
  .fondo_work{
    z-index: 30;
    width: 65vw;
    height: 28vh;
    margin-top: 15vh;
    margin-left: -20vw;
  }
  .bt_decoration{
    z-index: 30;
    height: 20vh;
    margin-top: 5vh;
    right: 5vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
  }
  #dec15{
    z-index: 35;
    opacity: 0.85;
    background-size: 100% 100%;
    height: 20vh;
    position: absolute;
    margin-left: 29vw;
    margin-top: 16.5vh;
    transform: rotate(-9deg);
  }
  #dec3{
    z-index: 30;
    height: 10vh;
    margin-top: 93vh;
    left: 65vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.7;
  }
  #title_work{
    width: 75vw;
    font-size: 1.6em;
    margin-top: 45vh;
    margin-left:12vw;
    text-align: center;
    background-color: #00043b;
  }
  #bienvenida{
    width: 83vw;
    margin-top: 58vh;
    color: #faf5e4;
    font-size: 1.1em;
    margin-left: 7.5vw;
    font-family: 'lora';
    font-weight: lighter;
    backdrop-filter: blur(2px);
  }
  .group_pro{
    height: 145vh ;
    width: 85vw ;
    margin-top:114vh;
    margin-left:7.5vw;
    z-index: 33;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
  }
  #proyect1{
    background: #faf5e4;
    width: 85vw;
    height: 33vh;
    margin: 0 0 2.3vw  0;
    border-radius: 30px;
    z-index: 40;
    position: absolute;
    background-image: url("images/data_lovers.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
  }
  #img_proyect1{
    width:85vw;
    height:33vh;
    overflow: hidden;
    position: absolute;
    background:rgba(8, 34, 83, 0.5);
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    opacity: 0;
    border-radius: 30px;
  }
  #title_1{
    position: absolute;
    font-size: 1.7em;
    margin-left: -20vw;
    margin-top: 7vh;
  }
  #title_2{
    position: absolute;
    font-size: 1.2em;
    margin-top: 40vh;
    margin-left: 12vw;
    width: 60vw;
    text-align: center;
  }
  #envio1{
    background-image: url("images/ir2.png");
    background-size: 55% 45%;
    background-repeat: no-repeat;
    background-position: top;
    height:15vh;
    width: 21vw;
    position: absolute;
    margin-top: 6vh;
    margin-left: 2vw;
  }
  #proyect1:hover #img_proyect1{
    opacity: 1;
  }
  #proyect1:hover #title_1{
    margin-left: 25vw;
    -webkit-transition:margin 0.2s;
    -moz-transition:margin 0.2s;
  }
  #proyect1:hover #title_2{
    margin-top: 15vh;
    -webkit-transition:margin 0.3s;
    -moz-transition:margin 0.3s;
  } 
  #touch_talent{
    position: absolute;
    height: 7vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 33;
    display: block;
    margin-top:12vh;
    right: -4.5vw;
    transform: rotate(-35deg);
  }
  #proyect2{
    background: #faf5e4;
    width: 85vw;
    height: 33vh;
    margin: 37vh 0 0 0;
    z-index: 40;
    border-radius: 30px;
    background-image: url("images/social_network.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
  }
  #img_proyect2{
    width:85vw;
    height:33vh;
    overflow: hidden;
    position: absolute;
    background:rgba(8, 34, 83, 0.5);
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    opacity: 0;
    border-radius: 30px;
  }
  #title_pr{
    position: absolute;
    font-size: 1.7em;
    margin-left: -15vw;
    margin-top: 10vh;
  }
  #title_pr2{
    position: absolute;
    font-size: 1.2em;
    margin-top: 40vh;
    margin-left:13vw;
    width: 60vw;
    text-align: center;
  }
  #envio2{
    background-image: url("images/ir2.png");
    background-size: 55% 45%;
    background-repeat: no-repeat;
    background-position: top;
    height:15vh;
    width: 21vw;
    position: absolute;
    margin-top: 5vh;
    margin-left: 2vw;
  }
  #proyect2:hover #img_proyect2{
    opacity: 1;
  }
  #proyect2:hover #title_pr{
    margin-left: 20vw;
    -webkit-transition:margin 0.2s;
    -moz-transition:margin 0.2s;
  }
  #proyect2:hover #title_pr2{
    margin-top: 17vh;
    -webkit-transition:margin 0.3s;
    -moz-transition:margin 0.3s;
  } 
  #proyect3{
    background: #faf5e4;
    width: 85vw;
    height: 33vh;
    margin: 4vh 0 0 0;
    border-radius: 30px;
    z-index: 40;
    background-image: url("images/card_validation.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
  }
  #img_proyect3{
    width:85vw;
    height:33vh;
    overflow: hidden;
    position: absolute;
    background:rgba(8, 34, 83, 0.5);
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    opacity: 0;
    border-radius: 30px;
  }
  #title_pr3{
    position: absolute;
    font-size: 1.7em;
    margin-left: -15vw;
    margin-top: 10vh;
  }
  #title_pr31{
    position: absolute;
    font-size: 1.2em;
    margin-top: 30vh;
    margin-left: 9vw;
    width: 65vw;
    text-align: center;
  }
  #envio3{
    background-image: url("images/ir2.png");
    background-size: 55% 45%;
    background-repeat: no-repeat;
    background-position: top;
    height:15vh;
    width: 21vw;
    position: absolute;
    margin-top: 5vh;
    margin-left: 2vw;
  }
  #proyect3:hover #img_proyect3{
    opacity: 1;
  }
  #proyect3:hover #title_pr3{
    margin-left: 18vw;
    -webkit-transition:margin 0.2s;
    -moz-transition:margin 0.2s;
  }
  
  #proyect3:hover #title_pr31{
    margin-top: 17.5vh;
    -webkit-transition:margin 0.3s;
    -moz-transition:margin 0.3s;
  }  
  #proyect4{
    background: #faf5e4;
    width: 85vw;
    height: 33vh;
    margin: 4vh 0 0 0;
    border-radius: 30px;
    z-index: 40;
    background-image: url("images/smartwacht.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
  }
  #img_proyect4{
    width:85vw;
    height:33vh;
    overflow: hidden;
    position: absolute;
    background:rgba(8, 34, 83, 0.5);
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    opacity: 0;
    border-radius: 30px;
  }
  #title_pr4{
    position: absolute;
    font-size: 1.7em;
    margin-left: -15vw;
    margin-top: 10vh;
    text-align: center;
  }
  #title_pr41{
    position: absolute;
    font-size: 1.2em;
    margin-top: 40vh;
    margin-left: 11vw;
    width: 60vw;
    text-align: center;
  }
  #proyect4:hover #img_proyect4{
    opacity: 1;
  }
  #proyect4:hover #title_pr4{
    margin-left:14vw;
    -webkit-transition:margin 0.2s;
    -moz-transition:margin 0.2s;
  }
  #proyect4:hover #title_pr41{
    margin-top: 18vh;
    -webkit-transition:margin 0.3s;
    -moz-transition:margin 0.3s;
  } 
  #proyect5{
    background:#ea526ef1;
    width: 85vw;
    height: 33vh;
    margin: 4vh 0 0 0;
    border-radius: 30px;
    z-index: 40;
    background-image: url("images/s6.png"), url("images/fn1.png");;
    background-size: 90% 85%, 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
  }
  #img_proyect5{
    width:85vw;
    height:33vh;
    overflow: hidden;
    position: absolute;
    background:rgba(8, 34, 83, 0.5);
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    opacity: 0;
    border-radius: 30px;
  }
  #title_pr5{
    position: absolute;
    font-size: 1.7em;
    margin-left: -15vw;
    margin-top: 12vh;
  }
  #title_pr51{
    position: absolute;
    font-size: 1.2em;
    margin-top: 40vh;
    margin-left: 6.5vw;
    width: 70vw;
    text-align: center;
  }
  #envio5{
    background-image: url("images/ir2.png");
    background-size: 55% 45%;
    background-repeat: no-repeat;
    background-position: top;
    height:15vh;
    width: 21vw;
    position: absolute;
    margin-top: 5vh;
    margin-left: 2vw;
  }
  #proyect5:hover #img_proyect5{
    opacity: 1;
  }
  #proyect5:hover #title_pr5{
    margin-left: 8.5vw;
    -webkit-transition:margin 0.2s;
    -moz-transition:margin 0.2s;
  }
  #proyect5:hover #title_pr51{
    margin-top: 20vh;
    -webkit-transition:margin 0.3s;
    -moz-transition:margin 0.3s;
  }  
  #proyect6{
    background:#00407bbd;
    width: 85vw;
    height: 33vh;
    margin: 4vh 0 0 0;
    border-radius: 30px;
    z-index: 40;
    background-image: url("images/pastry.png");
    background-size: 95% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
  }
  #img_proyect6{
    width:85vw;
    height:33vh;
    overflow: hidden;
    position: absolute;
    background:rgba(8, 34, 83, 0.5);
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    opacity: 0;
    border-radius: 30px;
  }
  #title_pr6{
    position: absolute;
    font-size: 1.7em;
    margin-left: -15vw;
    margin-top: 12vh;
  }
  #title_pr61{
    position: absolute;
    font-size: 1.2em;
    margin-top: 40vh;
    margin-left: 6.5vw;
    width: 70vw;
    text-align: center;
  }
  #envio6{
    background-image: url("images/ir2.png");
    background-size: 55% 45%;
    background-repeat: no-repeat;
    background-position: top;
    height:15vh;
    width: 21vw;
    position: absolute;
    margin-top: 5vh;
    margin-left: 2vw;
  }
  #proyect6:hover #img_proyect6{
    opacity: 1;
  }
  #proyect6:hover #title_pr6{
    margin-left: 8.5vw;
    -webkit-transition:margin 0.2s;
    -moz-transition:margin 0.2s;
  }
  #proyect6:hover #title_pr61{
    margin-top: 20vh;
    -webkit-transition:margin 0.3s;
    -moz-transition:margin 0.3s;
  }  
  #proyect7{
    background:#15731ddc;
    width: 85vw;
    height: 33vh;
    margin: 4vh 0 0 0;
    border-radius: 30px;
    z-index: 40;
    background-image:url("images/panda.png");
    background-size: 95% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
  }
  #img_proyect7{
    width:85vw;
    height:33vh;
    overflow: hidden;
    position: absolute;
    background:rgba(8, 34, 83, 0.5);
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    opacity: 0;
    border-radius: 30px;
  }
  #title_pr7{
    position: absolute;
    font-size: 1.7em;
    margin-left: -15vw;
    margin-top: 12vh;
  }
  #title_pr71{
    position: absolute;
    font-size: 1.2em;
    margin-top: 40vh;
    margin-left: 6.5vw;
    width: 70vw;
    text-align: center;
  }
  #envio7{
    background-image: url("images/ir2.png");
    background-size: 55% 45%;
    background-repeat: no-repeat;
    background-position: top;
    height:15vh;
    width: 21vw;
    position: absolute;
    margin-top: 5vh;
    margin-left: 2vw;
  }
  #proyect7:hover #img_proyect7{
    opacity: 1;
  }
  #proyect7:hover #title_pr7{
    margin-left: 8.5vw;
    -webkit-transition:margin 0.2s;
    -moz-transition:margin 0.2s;
  }
  #proyect7:hover #title_pr71{
    margin-top: 20vh;
    -webkit-transition:margin 0.3s;
    -moz-transition:margin 0.3s;
  }  

}